@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
    --main-bg: #fff;
    --primary-bg: coral;
    --secondary-bg: #ccc;
    --primary-color: #444;
    --primary-invert-color: #fff;
    --primary-link-color: #194df3;
    --shadow-color: #888;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: 'Lato', sans-serif;
    height: 100%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4 {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1200px;
    display: block;
}
.wrapper {
    padding: 30px 0;
    flex: 1 0 auto;
}
header {
    background: var(--primary-bg);
    box-shadow: 0 0 8px 2px var(--shadow-color);
    padding: 20px 0;
}
footer {
    background: var(--secondary-bg);
    flex-shrink: 0;
    padding: 20px 0;
    box-shadow: 0 0 8px 2px var(--shadow-color);
}
.logo {
    width: 50px;
    display: block;
    float: left;
}
.toolbar {
    float: right;
    display: flex;
}
.navigation ul,
.auth {
    display: flex;
}
.navigation li,
.toolbar a {
    margin: 0 10px;
    padding: 0 5px;
}
.navigation a,
.toolbar a {
    color: var(--primary-invert-color);
    line-height: 30px;
    display: block;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}